.container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-image: url(../images/wall.png);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 8rem;
    width: 100%;
    border-bottom: 2px solid #ffd700;

    background-color: #000;
    color: #fff;


        .menu-time,
        .menu-score {
            

            h2:nth-child(2) {
                color: #fff;
                margin-top: .6rem;
                text-align: center;
            }
        }

        h2 {
            color: red;
        }

        .menu-lives {
            display: flex;
            align-items: center;
            justify-content: center;

                h2 {
                    color: #fff;
                }

                img {
                    height: 4rem;
                    width: 4rem;

                    position: relative;
                    top: -.5rem;
                  

                }
            
        }
}

.panel {
    height: 28rem;
    width: 100%;
    
    margin-top: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 150px;
    width: 150px;

    border: 1px solid #000;
    background-color: #0080ff;
}

.enemy {
    background-image: url(../images/ralph.png);
    background-size: cover;
    background-repeat: no-repeat;

    background-position: -20px;
}

.angry {
    filter: hue-rotate(360deg);
  }
